<?xml version='1.0' encoding='utf-8'?>
<widget id="ir.yourname.camelrun" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>شتر جهنده</name>
    <description>
        یک بازی ساده و سرگرم‌کننده: با شتر خود از موانع صحرا رد شو و امتیاز بگیر!
    </description>
    <author email="you@example.com" href="https://example.com">
        نام شما
    </author>

    <content src="index.html" />

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <preference name="BackgroundColor" value="0xff111111" />
    <preference name="android-minSdkVersion" value="22" />
    <preference name="android-targetSdkVersion" value="34" />
    <preference name="AndroidXEnabled" value="true" />

    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
</widget>
